{% extends 'music/base.html' %}
{% block title %}Album Details{% endblock %}

{% block body %}
    <img src="{{ album.album_logo }}" style="width: 250px;">
    <h1>{{ album.album_title }}</h1>
    <h2>{{ ablum.artist }}</h2>

    {% for song in album.song_set.all %}
        {{ song.song_title }}
        {% if song.is_favorite %}
              <img src="https://media.istockphoto.com/photos/golden-star-picture-id477561906?k=6&m=477561906&s=612x612&w=0&h=CPJYYbDfLedj9YIR_UoAHv4Lq5tnDnQ4YtSjcPzcoRw="/>
        {% endif %}
        <br>
    {% endfor %}
{% endblock %}