<!-- Loads the path to your static files -->
{%  load staticfiles %}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bottstrap/3.3.6/css/boootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />

<nav class="navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'music:index' %}">Viberr</a>
        </div>

    </div>
</nav>


{%  if all_albums %}
    <h3>Here are all my Albums:</h3>
    <ul>
        {%  for album in all_albums %}
        <li><a href="{% url 'music:details' album.id %}">{{ album.album_title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>You Don't have any albums</h3>
{% endif %}